.row-2, .nametag{
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
}




#submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.form-group #name {
  max-width: 400px;
  margin: auto;
}
